# ===============================================================
#                 .env.example - Project Template
# ===============================================================
# This file defines the environment variables required for the 
# project to run and shows the format of the values these 
# variables should take. Copy this file, rename it to .env, and 
# update it with your own secret values.
# ===============================================================

# PostgreSQL Database Information (for the Identity service)
DB_USER=postgres
DB_PASSWORD=postgre_super_secret_password
DB_NAME=securevault_identity_dev
DB_HOST=postgres-db

# MongoDB Database Information (for the Vault service)
MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=mongo_super_secret_password
MONGO_DB_NAME=securevault_vault_dev
MONGO_HOST=mongo-db

# JWT INFORMATION
JWT_KEY=ChangeThisToARandomlyGenerated64ByteBase64Key=
JWT_REFRESH_KEY=AlsoChangeThisToAnotherRandomlyGenerated64ByteBase64Key=

# Seq Information (Centralized Logging Server)
SEQ_PASSWORD=your_secret_seq_api_key_or_password