@page "/"
@using SecureVault.App.Services.Service.Contracts
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <h1>Welcome to SecureVault!</h1>
        <p>You are logged in.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to SecureVault!</h1>
        <p>You are not logged in. Please log in or register to continue.</p>
    </NotAuthorized>
</AuthorizeView>
